<b> Data exploration using Pandas </b>

In [1]:
import pandas as pd
import numpy as np

Tasks at hand :

    - import the dataset
    - clean, format if needed
    - Grouping/ merging
    - Explore the results or findings

<b> Importing the dataset </b>

In [2]:
bikes = pd.read_csv("..//Bike-Sharing-Dataset//hour.csv")

In [3]:
type(bikes)

pandas.core.frame.DataFrame

In [4]:
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [5]:
bikes.tail()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
17374,17375,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119
17375,17376,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89
17376,17377,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [6]:
bikes.tail(2)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
17377,17378,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61
17378,17379,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49

In [7]:
bikes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     17379 non-null  int64
 1   dteday      17379 non-null  object
 2   season      17379 non-null  int64
 3   yr          17379 non-null  int64
 4   mnth        17379 non-null  int64
 5   hr          17379 non-null  int64
 6   holiday     17379 non-null  int64
 7   weekday     17379 non-null  int64
 8   workingday  17379 non-null  int64
 9   weathersit  17379 non-null  int64
 10  temp        17379 non-null  float64
 11  atemp       17379 non-null  float64
 12  hum         17379 non-null  float64
 13  windspeed   17379 non-null  float64
 14  casual      17379 non-null  int64
 15  registered  17379 non-null  int64
 16  cnt         17379 non-null  int64
dtypes: float64(4), int64(12), object(1)
memory usage: 2.3+ MB

In [8]:
bikes.shape

(17379, 17)

In [9]:
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [10]:
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [11]:
# statistical data
bikes.describe()

,instant,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
count,17379.0000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000,17379.000000
mean,8690.0000,2.501640,0.502561,6.537775,11.546752,0.028770,3.003683,0.682721,1.425283,0.496987,0.475775,0.627229,0.190098,35.676218,153.786869,189.463088
std,5017.0295,1.106918,0.500008,3.438776,6.914405,0.167165,2.005771,0.465431,0.639357,0.192556,0.171850,0.192930,0.122340,49.305030,151.357286,181.387599
min,1.0000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,4345.5000,2.000000,0.000000,4.000000,6.000000,0.000000,1.000000,0.000000,1.000000,0.340000,0.333300,0.480000,0.104500,4.000000,34.000000,40.000000
50%,8690.0000,3.000000,1.000000,7.000000,12.000000,0.000000,3.000000,1.000000,1.000000,0.500000,0.484800,0.630000,0.194000,17.000000,115.000000,142.000000
75%,13034.5000,3.000000,1.000000,10.000000,18.000000,0.000000,5.000000,1.000000,2.000000,0.660000,0.621200,0.780000,0.253700,48.000000,220.000000,281.000000
max,17379.0000,4.000000,1.000000,12.000000,23.000000,1.000000,6.000000,1.000000,4.000000,1.000000,1.000000,1.000000,0.850700,367.000000,886.000000,977.000000

In [12]:
bikes.describe

<bound method NDFrame.describe of        instant      dteday  season  yr  mnth  hr  holiday  weekday  \
0            1  2011-01-01       1   0     1   0        0        6
1            2  2011-01-01       1   0     1   1        0        6
2            3  2011-01-01       1   0     1   2        0        6
3            4  2011-01-01       1   0     1   3        0        6
4            5  2011-01-01       1   0     1   4        0        6
...        ...         ...     ...  ..   ...  ..      ...      ...
17374    17375  2012-12-31       1   1    12  19        0        1
17375    17376  2012-12-31       1   1    12  20        0        1
17376    17377  2012-12-31       1   1    12  21        0        1
17377    17378  2012-12-31       1   1    12  22        0        1
17378    17379  2012-12-31       1   1    12  23        0        1

       workingday  weathersit  temp   atemp   hum  windspeed  casual  \
0               0           1  0.24  0.2879  0.81     0.0000       3
1               0           1  0.22  0.2727  0.80     0.0000       8
2               0           1  0.22  0.2727  0.80     0.0000       5
3               0           1  0.24  0.2879  0.75     0.0000       3
4               0           1  0.24  0.2879  0.75     0.0000       0
...           ...         ...   ...     ...   ...        ...     ...
17374           1           2  0.26  0.2576  0.60     0.1642      11
17375           1           2  0.26  0.2576  0.60     0.1642       8
17376           1           1  0.26  0.2576  0.60     0.1642       7
17377           1           1  0.26  0.2727  0.56     0.1343      13
17378           1           1  0.26  0.2727  0.65     0.1343      12

       registered  cnt
0              13   16
1              32   40
2              27   32
3              10   13
4               1    1
...           ...  ...
17374         108  119
17375          81   89
17376          83   90
17377          48   61
17378          37   49

[17379 rows x 17 columns]>

In [13]:
bikes.season.describe()

count    17379.000000
mean         2.501640
std          1.106918
min          1.000000
25%          2.000000
50%          3.000000
75%          3.000000
max          4.000000
Name: season, dtype: float64

<b> Cleaning and formatting the data frame </b>

In [14]:
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [15]:
bikes.instant.unique()

array([    1,     2,     3, ..., 17377, 17378, 17379])

In [16]:
bikes.dteday.unique()

array(['2011-01-01', '2011-01-02', '2011-01-03', '2011-01-04',
       '2011-01-05', '2011-01-06', '2011-01-07', '2011-01-08',
       '2011-01-09', '2011-01-10', '2011-01-11', '2011-01-12',
       '2011-01-13', '2011-01-14', '2011-01-15', '2011-01-16',
       '2011-01-17', '2011-01-18', '2011-01-19', '2011-01-20',
       '2011-01-21', '2011-01-22', '2011-01-23', '2011-01-24',
       '2011-01-25', '2011-01-26', '2011-01-27', '2011-01-28',
       '2011-01-29', '2011-01-30', '2011-01-31', '2011-02-01',
       '2011-02-02', '2011-02-03', '2011-02-04', '2011-02-05',
       '2011-02-06', '2011-02-07', '2011-02-08', '2011-02-09',
       '2011-02-10', '2011-02-11', '2011-02-12', '2011-02-13',
       '2011-02-14', '2011-02-15', '2011-02-16', '2011-02-17',
       '2011-02-18', '2011-02-19', '2011-02-20', '2011-02-21',
       '2011-02-22', '2011-02-23', '2011-02-24', '2011-02-25',
       '2011-02-26', '2011-02-27', '2011-02-28', '2011-03-01',
       '2011-03-02', '2011-03-03', '2011-03-04', '2011-03-05',
       '2011-03-06', '2011-03-07', '2011-03-08', '2011-03-09',
       '2011-03-10', '2011-03-11', '2011-03-12', '2011-03-13',
       '2011-03-14', '2011-03-15', '2011-03-16', '2011-03-17',
       '2011-03-18', '2011-03-19', '2011-03-20', '2011-03-21',
       '2011-03-22', '2011-03-23', '2011-03-24', '2011-03-25',
       '2011-03-26', '2011-03-27', '2011-03-28', '2011-03-29',
       '2011-03-30', '2011-03-31', '2011-04-01', '2011-04-02',
       '2011-04-03', '2011-04-04', '2011-04-05', '2011-04-06',
       '2011-04-07', '2011-04-08', '2011-04-09', '2011-04-10',
       '2011-04-11', '2011-04-12', '2011-04-13', '2011-04-14',
       '2011-04-15', '2011-04-16', '2011-04-17', '2011-04-18',
       '2011-04-19', '2011-04-20', '2011-04-21', '2011-04-22',
       '2011-04-23', '2011-04-24', '2011-04-25', '2011-04-26',
       '2011-04-27', '2011-04-28', '2011-04-29', '2011-04-30',
       '2011-05-01', '2011-05-02', '2011-05-03', '2011-05-04',
       '2011-05-05', '2011-05-06', '2011-05-07', '2011-05-08',
       '2011-05-09', '2011-05-10', '2011-05-11', '2011-05-12',
       '2011-05-13', '2011-05-14', '2011-05-15', '2011-05-16',
       '2011-05-17', '2011-05-18', '2011-05-19', '2011-05-20',
       '2011-05-21', '2011-05-22', '2011-05-23', '2011-05-24',
       '2011-05-25', '2011-05-26', '2011-05-27', '2011-05-28',
       '2011-05-29', '2011-05-30', '2011-05-31', '2011-06-01',
       '2011-06-02', '2011-06-03', '2011-06-04', '2011-06-05',
       '2011-06-06', '2011-06-07', '2011-06-08', '2011-06-09',
       '2011-06-10', '2011-06-11', '2011-06-12', '2011-06-13',
       '2011-06-14', '2011-06-15', '2011-06-16', '2011-06-17',
       '2011-06-18', '2011-06-19', '2011-06-20', '2011-06-21',
       '2011-06-22', '2011-06-23', '2011-06-24', '2011-06-25',
       '2011-06-26', '2011-06-27', '2011-06-28', '2011-06-29',
       '2011-06-30', '2011-07-01', '2011-07-02', '2011-07-03',
       '2011-07-04', '2011-07-05', '2011-07-06', '2011-07-07',
       '2011-07-08', '2011-07-09', '2011-07-10', '2011-07-11',
       '2011-07-12', '2011-07-13', '2011-07-14', '2011-07-15',
       '2011-07-16', '2011-07-17', '2011-07-18', '2011-07-19',
       '2011-07-20', '2011-07-21', '2011-07-22', '2011-07-23',
       '2011-07-24', '2011-07-25', '2011-07-26', '2011-07-27',
       '2011-07-28', '2011-07-29', '2011-07-30', '2011-07-31',
       '2011-08-01', '2011-08-02', '2011-08-03', '2011-08-04',
       '2011-08-05', '2011-08-06', '2011-08-07', '2011-08-08',
       '2011-08-09', '2011-08-10', '2011-08-11', '2011-08-12',
       '2011-08-13', '2011-08-14', '2011-08-15', '2011-08-16',
       '2011-08-17', '2011-08-18', '2011-08-19', '2011-08-20',
       '2011-08-21', '2011-08-22', '2011-08-23', '2011-08-24',
       '2011-08-25', '2011-08-26', '2011-08-27', '2011-08-28',
       '2011-08-29', '2011-08-30', '2011-08-31', '2011-09-01',
       '2011-09-02', '2011-09-03', '2011-09-04', '2011-09-05',
       '2011-09-06', '2011-09-07', '2011-09-08', '2011-09-09',
       '2011-09-10', '2011-09-11', '2011-09-12', '2011-09-13',
       '2011-09-14', '2011-09-15', '2011-09-16', '2011-09-17',
       '2011-09-18', '2011-09-19', '2011-09-20', '2011-09-21',
       '2011-09-22', '2011-09-23', '2011-09-24', '2011-09-25',
       '2011-09-26', '2011-09-27', '2011-09-28', '2011-09-29',
       '2011-09-30', '2011-10-01', '2011-10-02', '2011-10-03',
       '2011-10-04', '2011-10-05', '2011-10-06', '2011-10-07',
       '2011-10-08', '2011-10-09', '2011-10-10', '2011-10-11',
       '2011-10-12', '2011-10-13', '2011-10-14', '2011-10-15',
       '2011-10-16', '2011-10-17', '2011-10-18', '2011-10-19',
       '2011-10-20', '2011-10-21', '2011-10-22', '2011-10-23',
       '2011-10-24', '2011-10-25', '2011-10-26', '2011-10-27',
       '2011-10-28', '2011-10-29', '2011-10-30', '2011-10-31',
       '2011-11-01', '2011-11-02', '2011-11-03', '2011-11-04',
       '2011-11-05', '2011-11-06', '2011-11-07', '2011-11-08',
       '2011-11-09', '2011-11-10', '2011-11-11', '2011-11-12',
       '2011-11-13', '2011-11-14', '2011-11-15', '2011-11-16',
       '2011-11-17', '2011-11-18', '2011-11-19', '2011-11-20',
       '2011-11-21', '2011-11-22', '2011-11-23', '2011-11-24',
       '2011-11-25', '2011-11-26', '2011-11-27', '2011-11-28',
       '2011-11-29', '2011-11-30', '2011-12-01', '2011-12-02',
       '2011-12-03', '2011-12-04', '2011-12-05', '2011-12-06',
       '2011-12-07', '2011-12-08', '2011-12-09', '2011-12-10',
       '2011-12-11', '2011-12-12', '2011-12-13', '2011-12-14',
       '2011-12-15', '2011-12-16', '2011-12-17', '2011-12-18',
       '2011-12-19', '2011-12-20', '2011-12-21', '2011-12-22',
       '2011-12-23', '2011-12-24', '2011-12-25', '2011-12-26',
       '2011-12-27', '2011-12-28', '2011-12-29', '2011-12-30',
       '2011-12-31', '2012-01-01', '2012-01-02', '2012-01-03',
       '2012-01-04', '2012-01-05', '2012-01-06', '2012-01-07',
       '2012-01-08', '2012-01-09', '2012-01-10', '2012-01-11',
       '2012-01-12', '2012-01-13', '2012-01-14', '2012-01-15',
       '2012-01-16', '2012-01-17', '2012-01-18', '2012-01-19',
       '2012-01-20', '2012-01-21', '2012-01-22', '2012-01-23',
       '2012-01-24', '2012-01-25', '2012-01-26', '2012-01-27',
       '2012-01-28', '2012-01-29', '2012-01-30', '2012-01-31',
       '2012-02-01', '2012-02-02', '2012-02-03', '2012-02-04',
       '2012-02-05', '2012-02-06', '2012-02-07', '2012-02-08',
       '2012-02-09', '2012-02-10', '2012-02-11', '2012-02-12',
       '2012-02-13', '2012-02-14', '2012-02-15', '2012-02-16',
       '2012-02-17', '2012-02-18', '2012-02-19', '2012-02-20',
       '2012-02-21', '2012-02-22', '2012-02-23', '2012-02-24',
       '2012-02-25', '2012-02-26', '2012-02-27', '2012-02-28',
       '2012-02-29', '2012-03-01', '2012-03-02', '2012-03-03',
       '2012-03-04', '2012-03-05', '2012-03-06', '2012-03-07',
       '2012-03-08', '2012-03-09', '2012-03-10', '2012-03-11',
       '2012-03-12', '2012-03-13', '2012-03-14', '2012-03-15',
       '2012-03-16', '2012-03-17', '2012-03-18', '2012-03-19',
       '2012-03-20', '2012-03-21', '2012-03-22', '2012-03-23',
       '2012-03-24', '2012-03-25', '2012-03-26', '2012-03-27',
       '2012-03-28', '2012-03-29', '2012-03-30', '2012-03-31',
       '2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
       '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
       '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
       '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
       '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20',
       '2012-04-21', '2012-04-22', '2012-04-23', '2012-04-24',
       '2012-04-25', '2012-04-26', '2012-04-27', '2012-04-28',
       '2012-04-29', '2012-04-30', '2012-05-01', '2012-05-02',
       '2012-05-03', '2012-05-04', '2012-05-05', '2012-05-06',
       '2012-05-07', '2012-05-08', '2012-05-09', '2012-05-10',
       '2012-05-11', '2012-05-12', '2012-05-13', '2012-05-14',
       '2012-05-15', '2012-05-16', '2012-05-17', '2012-05-18',
       '2012-05-19', '2012-05-20', '2012-05-21', '2012-05-22',
       '2012-05-23', '2012-05-24', '2012-05-25', '2012-05-26',
       '2012-05-27', '2012-05-28', '2012-05-29', '2012-05-30',
       '2012-05-31', '2012-06-01', '2012-06-02', '2012-06-03',
       '2012-06-04', '2012-06-05', '2012-06-06', '2012-06-07',
       '2012-06-08', '2012-06-09', '2012-06-10', '2012-06-11',
       '2012-06-12', '2012-06-13', '2012-06-14', '2012-06-15',
       '2012-06-16', '2012-06-17', '2012-06-18', '2012-06-19',
       '2012-06-20', '2012-06-21', '2012-06-22', '2012-06-23',
       '2012-06-24', '2012-06-25', '2012-06-26', '2012-06-27',
       '2012-06-28', '2012-06-29', '2012-06-30', '2012-07-01',
       '2012-07-02', '2012-07-03', '2012-07-04', '2012-07-05',
       '2012-07-06', '2012-07-07', '2012-07-08', '2012-07-09',
       '2012-07-10', '2012-07-11', '2012-07-12', '2012-07-13',
       '2012-07-14', '2012-07-15', '2012-07-16', '2012-07-17',
       '2012-07-18', '2012-07-19', '2012-07-20', '2012-07-21',
       '2012-07-22', '2012-07-23', '2012-07-24', '2012-07-25',
       '2012-07-26', '2012-07-27', '2012-07-28', '2012-07-29',
       '2012-07-30', '2012-07-31', '2012-08-01', '2012-08-02',
       '2012-08-03', '2012-08-04', '2012-08-05', '2012-08-06',
       '2012-08-07', '2012-08-08', '2012-08-09', '2012-08-10',
       '2012-08-11', '2012-08-12', '2012-08-13', '2012-08-14',
       '2012-08-15', '2012-08-16', '2012-08-17', '2012-08-18',
       '2012-08-19', '2012-08-20', '2012-08-21', '2012-08-22',
       '2012-08-23', '2012-08-24', '2012-08-25', '2012-08-26',
       '2012-08-27', '2012-08-28', '2012-08-29', '2012-08-30',
       '2012-08-31', '2012-09-01', '2012-09-02', '2012-09-03',
       '2012-09-04', '2012-09-05', '2012-09-06', '2012-09-07',
       '2012-09-08', '2012-09-09', '2012-09-10', '2012-09-11',
       '2012-09-12', '2012-09-13', '2012-09-14', '2012-09-15',
       '2012-09-16', '2012-09-17', '2012-09-18', '2012-09-19',
       '2012-09-20', '2012-09-21', '2012-09-22', '2012-09-23',
       '2012-09-24', '2012-09-25', '2012-09-26', '2012-09-27',
       '2012-09-28', '2012-09-29', '2012-09-30', '2012-10-01',
       '2012-10-02', '2012-10-03', '2012-10-04', '2012-10-05',
       '2012-10-06', '2012-10-07', '2012-10-08', '2012-10-09',
       '2012-10-10', '2012-10-11', '2012-10-12', '2012-10-13',
       '2012-10-14', '2012-10-15', '2012-10-16', '2012-10-17',
       '2012-10-18', '2012-10-19', '2012-10-20', '2012-10-21',
       '2012-10-22', '2012-10-23', '2012-10-24', '2012-10-25',
       '2012-10-26', '2012-10-27', '2012-10-28', '2012-10-29',
       '2012-10-30', '2012-10-31', '2012-11-01', '2012-11-02',
       '2012-11-03', '2012-11-04', '2012-11-05', '2012-11-06',
       '2012-11-07', '2012-11-08', '2012-11-09', '2012-11-10',
       '2012-11-11', '2012-11-12', '2012-11-13', '2012-11-14',
       '2012-11-15', '2012-11-16', '2012-11-17', '2012-11-18',
       '2012-11-19', '2012-11-20', '2012-11-21', '2012-11-22',
       '2012-11-23', '2012-11-24', '2012-11-25', '2012-11-26',
       '2012-11-27', '2012-11-28', '2012-11-29', '2012-11-30',
       '2012-12-01', '2012-12-02', '2012-12-03', '2012-12-04',
       '2012-12-05', '2012-12-06', '2012-12-07', '2012-12-08',
       '2012-12-09', '2012-12-10', '2012-12-11', '2012-12-12',
       '2012-12-13', '2012-12-14', '2012-12-15', '2012-12-16',
       '2012-12-17', '2012-12-18', '2012-12-19', '2012-12-20',
       '2012-12-21', '2012-12-22', '2012-12-23', '2012-12-24',
       '2012-12-25', '2012-12-26', '2012-12-27', '2012-12-28',
       '2012-12-29', '2012-12-30', '2012-12-31'], dtype=object)

In [17]:
bikes.season.unique()

array([1, 2, 3, 4])

In [18]:
bikes.yr.unique()

array([0, 1])

In [19]:
bikes["mnth"].unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [20]:
bikes.hr.unique()

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [21]:
bikes.holiday.unique()

array([0, 1])

In [22]:
bikes.weekday.unique()

array([6, 0, 1, 2, 3, 4, 5])

In [23]:
bikes.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
hr            0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [24]:
bikes.sum()

instant                                               151023510
dteday        2011-01-012011-01-012011-01-012011-01-012011-0...
season                                                    43476
yr                                                         8734
mnth                                                     113620
hr                                                       200671
holiday                                                     500
weekday                                                   52201
workingday                                                11865
weathersit                                                24770
temp                                                    8637.14
atemp                                                 8268.4955
hum                                                    10900.61
windspeed                                             3303.7063
casual                                                   620017
registered                                              2672662
cnt                                                     3292679
dtype: object

In [25]:
bikes.isnull()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17375,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17376,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17377,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
17378,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [26]:
bikes.instant.isnull()

0        False
1        False
2        False
3        False
4        False
         ...
17374    False
17375    False
17376    False
17377    False
17378    False
Name: instant, Length: 17379, dtype: bool

In [27]:
bikes.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
17374    False
17375    False
17376    False
17377    False
17378    False
Length: 17379, dtype: bool

In [28]:
bikes.duplicated().sum()

0

In [29]:
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [30]:
bikes.drop_duplicates(subset="instant", inplace=True)

In [31]:
bikes.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [32]:
# create and add a new series to this data frame

In [33]:
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [34]:
bikes.shape

(17379, 17)

<b> create and add a new column to a dataframe </b>

In [35]:
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
dtype: object

In [36]:
bikes.head(3)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32

In [37]:
dte = pd.to_datetime(bikes.dteday)

In [38]:
type(dte)

pandas.core.series.Series

In [39]:
dte

0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
           ...
17374   2012-12-31
17375   2012-12-31
17376   2012-12-31
17377   2012-12-31
17378   2012-12-31
Name: dteday, Length: 17379, dtype: datetime64[ns]

In [40]:
dte.dt.month

0         1
1         1
2         1
3         1
4         1
         ..
17374    12
17375    12
17376    12
17377    12
17378    12
Name: dteday, Length: 17379, dtype: int64

In [41]:
dte.dt.year

0        2011
1        2011
2        2011
3        2011
4        2011
         ...
17374    2012
17375    2012
17376    2012
17377    2012
17378    2012
Name: dteday, Length: 17379, dtype: int64

In [42]:
year = dte.dt.year

In [43]:
type(year)

pandas.core.series.Series

In [44]:
year

0        2011
1        2011
2        2011
3        2011
4        2011
         ...
17374    2012
17375    2012
17376    2012
17377    2012
17378    2012
Name: dteday, Length: 17379, dtype: int64

In [45]:
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt'],
      dtype='object')

In [46]:
bikes["year"]=year

In [47]:
bikes.columns

Index(['instant', 'dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt', 'year'],
      dtype='object')

In [48]:
bikes.head(3)

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,year
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16,2011
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40,2011
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32,2011

In [49]:
bikes.shape

(17379, 18)

In [50]:
bikes.dtypes

instant         int64
dteday         object
season          int64
yr              int64
mnth            int64
hr              int64
holiday         int64
weekday         int64
workingday      int64
weathersit      int64
temp          float64
atemp         float64
hum           float64
windspeed     float64
casual          int64
registered      int64
cnt             int64
year            int64
dtype: object

In [51]:
# remove a series from dataframe

In [52]:
bikes = bikes.drop("instant",axis=1)

In [53]:
bikes

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,year
0,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16,2011
1,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40,2011
2,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32,2011
3,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13,2011
4,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17374,2012-12-31,1,1,12,19,0,1,1,2,0.26,0.2576,0.60,0.1642,11,108,119,2012
17375,2012-12-31,1,1,12,20,0,1,1,2,0.26,0.2576,0.60,0.1642,8,81,89,2012
17376,2012-12-31,1,1,12,21,0,1,1,1,0.26,0.2576,0.60,0.1642,7,83,90,2012
17377,2012-12-31,1,1,12,22,0,1,1,1,0.26,0.2727,0.56,0.1343,13,48,61,2012
17378,2012-12-31,1,1,12,23,0,1,1,1,0.26,0.2727,0.65,0.1343,12,37,49,2012

In [54]:
bikes.columns

Index(['dteday', 'season', 'yr', 'mnth', 'hr', 'holiday', 'weekday',
       'workingday', 'weathersit', 'temp', 'atemp', 'hum', 'windspeed',
       'casual', 'registered', 'cnt', 'year'],
      dtype='object')

<b> Group / Merging </b>

In [55]:
bikes.head()

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,year
0,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16,2011
1,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40,2011
2,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32,2011
3,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13,2011
4,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1,2011

In [56]:
bikes_2011 = bikes[year==2011]

In [57]:
bikes_2011.shape

(8645, 17)

In [58]:
bikes_2011

,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,year
0,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0000,3,13,16,2011
1,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0000,8,32,40,2011
2,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0000,5,27,32,2011
3,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0000,3,10,13,2011
4,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0000,0,1,1,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8640,2011-12-31,1,0,12,19,0,6,0,1,0.42,0.4242,0.54,0.2239,19,73,92,2011
8641,2011-12-31,1,0,12,20,0,6,0,1,0.42,0.4242,0.54,0.2239,8,63,71,2011
8642,2011-12-31,1,0,12,21,0,6,0,1,0.40,0.4091,0.58,0.1940,2,50,52,2011
8643,2011-12-31,1,0,12,22,0,6,0,1,0.38,0.3939,0.62,0.1343,2,36,38,2011
8644,2011-12-31,1,0,12,23,0,6,0,1,0.36,0.3788,0.66,0.0000,4,27,31,2011

In [60]:
bikes_2011.count()

dteday        8645
season        8645
yr            8645
mnth          8645
hr            8645
holiday       8645
weekday       8645
workingday    8645
weathersit    8645
temp          8645
atemp         8645
hum           8645
windspeed     8645
casual        8645
registered    8645
cnt           8645
year          8645
dtype: int64

In [67]:
bikes_2012 = bikes[year==2012]

In [71]:
bikes_2011 = bikes[year==2011]

In [72]:
bikes_2011.shape

(8645, 17)

In [73]:
bikes_2012.shape

(8734, 17)

<b> Grouping </b>

In [74]:
df_by_season = bikes.groupby("season")

In [75]:
type(df_by_season)

pandas.core.groupby.generic.DataFrameGroupBy

In [77]:
df_by_season

In [78]:
df_by_season.casual.sum()

season
1     60622
2    203522
3    226091
4    129782
Name: casual, dtype: int64

In [79]:
df_by_season.registered.sum()

season
1    410726
2    715067
3    835038
4    711831
Name: registered, dtype: int64

In [81]:
df_by_season.registered.sum().max()

835038

In [82]:
# concatenation

series_casual = df_by_season.casual.sum()
series_registered = df_by_season.registered.sum()
frames = [series_casual, series_registered]

In [83]:
type(frames)

list

In [84]:
type(series_casual)

pandas.core.series.Series

In [85]:
type(series_registered)

pandas.core.series.Series

In [86]:
df = pd.concat(frames, axis=1) # combine them column-wise

In [87]:
df

        casual  registered
season
1        60622      410726
2       203522      715067
3       226091      835038
4       129782      711831

In [88]:
# add a new series to above data frame
df["total"] = df.casual + df.registered

In [89]:
df

        casual  registered    total
season
1        60622      410726   471348
2       203522      715067   918589
3       226091      835038  1061129
4       129782      711831   841613

In [90]:
df.to_csv("outcomeBySeason.csv")

<b> merge </b>

In [91]:
series_casual

season
1     60622
2    203522
3    226091
4    129782
Name: casual, dtype: int64

In [92]:
series_registered

season
1    410726
2    715067
3    835038
4    711831
Name: registered, dtype: int64

In [93]:
df_casual = pd.DataFrame(series_casual)

In [94]:
df_registered = pd.DataFrame(series_registered)

In [95]:
df_casual

        casual
season
1        60622
2       203522
3       226091
4       129782

In [96]:
df_registered

        registered
season
1           410726
2           715067
3           835038
4           711831

In [97]:
df2 = pd.merge(df_casual, df_registered, on="season")

In [98]:
df2

        casual  registered
season
1        60622      410726
2       203522      715067
3       226091      835038
4       129782      711831