<h2> Pandas Basics </h2>

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.__version__

'1.5.3'

In [3]:
np.__version__

'1.23.5'

In [5]:
a1 = np.random.randint(5, size=5)

In [6]:
a1

array([4, 2, 0, 1, 3])

In [7]:
series1 = pd.Series(a1)

In [8]:
series1

0    4
1    2
2    0
3    1
4    3
dtype: int64

In [9]:
series2 = pd.Series(a1, index=['a','b','c','d','e'])
series2

a    4
b    2
c    0
d    1
e    3
dtype: int64

In [10]:
series1[1]

2

In [11]:
series2['c']

0

In [12]:
series2.dtype

dtype('int64')

<b> Data Frame </b>

In [14]:
d1 = {
    "id":[1,2,3,4],
    "name":["ankita", "murali", "abhishek","amit"]
}
d1

{'id': [1, 2, 3, 4], 'name': ['ankita', 'murali', 'abhishek', 'amit']}

In [16]:
df = pd.DataFrame(d1)

In [17]:
df

   id      name
0   1    ankita
1   2    murali
2   3  abhishek
3   4      amit

In [18]:
df.dtypes

id       int64
name    object
dtype: object

<b> Reading Files </b>